/* FUENTES */

@font-face{
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

/* GENERALES */

body{
    font-family: Montserrat ,Arial, Helvetica, sans-serif;
    background-color: transparent;
}